force-app/main/default/flows/Record_Trigger_Flow_Hotel_Territory_FFU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assignment_Area_Lookup</name>
        <label>Assignment Area Lookup</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>$Record.Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Area_Information.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Continent_Lookup</name>
        <label>Assignment Continent Lookup</label>
        <locationX>50</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.Continent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Continent_Information.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Continent_Information.Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Continent_Cumplimented</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Zone_Lookup</name>
        <label>Assignment Zone Lookup</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zone_Information.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Continent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zone_Information.Continent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zone_Information.Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Zone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Continent_Cumplimented</name>
        <label>Decision Continent Cumplimented</label>
        <locationX>182</locationX>
        <locationY>1427</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continent_Cumplimented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Area_RT</targetReference>
            </connector>
            <label>Continent Cumplimented</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Subzone</name>
        <label>Decision Subzone</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Decision_Zone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subzone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subzone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Zone_RT</targetReference>
            </connector>
            <label>Subzone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Lookup_Fields</name>
        <label>Decision Update Lookup Fields</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Lookup_Fields</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Area_PCK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Continent_PCK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zone_PCK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subzone_PCK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hotel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Area</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Subzone</targetReference>
            </connector>
            <label>Update Lookup Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Zone</name>
        <label>Decision Zone</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Decision_Continent_Cumplimented</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zone_Cumplimented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Continent_RT</targetReference>
            </connector>
            <label>Zone Cumplimented</label>
        </rules>
    </decisions>
    <description>Se modifica la lógica</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger Flow - Hotel Territory FFU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger Flow - Hotel Territory FFU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Area_Information</name>
        <label>Get Area Information</label>
        <locationX>50</locationX>
        <locationY>1643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Area_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Area_PCK__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Area_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HotelTerritory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Area_RT</name>
        <label>Get Area RT</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Area_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HotelTerritory__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Area</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Continent_Information</name>
        <label>Get Continent Information</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Continent_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Continent_PCK__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Continent_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HotelTerritory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Continent_RT</name>
        <label>Get Continent RT</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Continent_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HotelTerritory__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Continent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zone_Information</name>
        <label>Get Zone Information</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Zone_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zone_PCK__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Zone_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HotelTerritory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zone_RT</name>
        <label>Get Zone RT</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Zone_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HotelTerritory__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zone</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Update_Lookup_Fields</targetReference>
        </connector>
        <object>HotelTerritory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
